<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.2" package="www.inspectionapp.com.inspectionapp" android:versionCode="1">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<application android:label="Inspection" android:icon="@drawable/inspectionlogo1"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>